
@media only screen and (min-width: 768px) and (max-width: 58.75em) {
  .product{
    .large-8{
      .images{
        #wrap{
          width:90% !important;
        }
        .thumbnails{
          width: 15% !important;
          max-width: 90px !important;
        }
      }
    }
  }  
}


$default-spacing: 0.9375em;

.single-product{
  #secondary{
    clear: both;
    display: none !important
  }
}

.reset_variations{
  opacity: .6;
  &:hover{
    opacity: 1;
  }
}



#content{

  .related{
    .products{
      width: 100% !important;
      left: 0px !important;
    }
  }
 
  .images{
    p{ display: none; }
  }
  .related{
    float:left;
  }
  .thumbnails{
    width: 16%;
    float: right;
  }
  .page-title{
    text-align: center;
  }
  div.product{
    h2.subheader{
      font-weight: 300;
      margin-top: 0em;
      margin-bottom: 0em;
      font-size: 1.4em;
      color: black;
    }
    h1 {
      font-size: 1em;
    }
    button.button{
      padding: 17px 10px;
      text-transform: uppercase;
      font-size: 1.7em;
      font-weight: 200;
      &:hover{
        background: rgba(5,5,5,.9);
        box-shadow: none;
        opacity: .9;
      }
    }

    margin-top: 1.3em;
    .entry-summary{
      margin-top: 0em;
    }
    div.thumbnails{
      padding-top: 0em !important;
      a{
        width: 100% !important;
        float:right;
        margin-top: $default-spacing;
        &:first-child{
          margin-top: 0em;
        }
      }
    }
  }
}

#cloud-zoom-big{
  visibility: hidden !important;
}


@media only screen and (min-width: 58.75em) {
  #cloud-zoom-big{
    visibility: visible !important;
  }
}

@media only screen and (min-width: 768px) {
  ul.products{
    li.first {
      clear: none !important;
    }
    li.last {
      clear: none !important;
    }
  }
}

@media only screen{
  ul.products{
    li.first {
      clear: left;
    }
    li.last {
      clear: right;
    }
  }
}

.woocommerce-main-image{
  float: left; 
}

.summary.entry-summary{
}

