/* line 3, ../../sass/element/header/dropdown.scss */
.main-navigation ul > * {
  background: white;
}

@media only screen and (min-width: 58.75em) {
  /* line 14, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: none !important;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    border-left-style: solid;
    margin-right: 15px;
    margin-top: -4.5px;
    position: absolute;
    top: 50%;
    right: 0;
  }

  /* line 28, ../../sass/element/header/dropdown.scss */
  .top-bar-section .dropdown li .dropdown {
    left: 0%;
    top: auto;
  }

  /* line 33, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown:hover {
    visibility: visible !important;
  }
  /* line 35, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown:hover a {
    visibility: visible !important;
  }
  /* line 37, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown:hover a li {
    visibility: visible !important;
  }
  /* line 39, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown:hover a li ul {
    visibility: visible !important;
  }
  /* line 41, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown:hover a li ul li {
    visibility: visible !important;
  }
  /* line 48, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown .dropdown {
    min-width: 232px;
  }
  /* line 50, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown .dropdown li {
    width: 116px;
  }
  /* line 52, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown .dropdown li ul {
    min-width: 100%;
  }
  /* line 54, ../../sass/element/header/dropdown.scss */
  .top-bar-section .has-dropdown .dropdown li ul li {
    width: 100% !important;
  }
}
