@media only screen {
  /* line 3, ../../sass/element/header/nav.scss */
  .title-area .social-icon {
    visibility: hidden;
  }

  /* line 7, ../../sass/element/header/nav.scss */
  .top-bar-menu.right {
    visibility: hidden;
  }
}
@media only screen and (min-width: 58.75em) {
  /* line 13, ../../sass/element/header/nav.scss */
  .title-area .social-icon {
    visibility: visible;
  }

  /* line 17, ../../sass/element/header/nav.scss */
  .top-bar-menu.right {
    visibility: visible;
  }
}
/* line 22, ../../sass/element/header/nav.scss */
.top-bar .toggle-topbar.menu-icon {
  margin-top: 0px !important;
}

/* line 26, ../../sass/element/header/nav.scss */
nav.woocommerce-breadcrumb {
  font-family: RaisonneDemibold, "RaisonneDemibold", Helvetica, Arial, san-serif;
  line-height: 1.5em;
  color: black !important;
}
/* line 30, ../../sass/element/header/nav.scss */
nav.woocommerce-breadcrumb a {
  color: black !important;
}

/* line 35, ../../sass/element/header/nav.scss */
#masthead #site-navigation {
  font-family: RaisonneDemibold, "RaisonneDemibold", Helvetica, Arial, san-serif;
  border-color: #333;
  margin-bottom: 26px;
}
/* line 39, ../../sass/element/header/nav.scss */
#masthead #site-navigation a {
  color: black;
}
/* line 43, ../../sass/element/header/nav.scss */
#masthead .social-icon-case {
  float: left;
}
/* line 45, ../../sass/element/header/nav.scss */
#masthead .social-icon-case .inline-list {
  display: inline-block;
}
/* line 48, ../../sass/element/header/nav.scss */
#masthead .social-icon-case .inline-list li {
  margin-left: 0px;
}
/* line 54, ../../sass/element/header/nav.scss */
#masthead .site-branding {
  margin-bottom: 20px;
}
/* line 62, ../../sass/element/header/nav.scss */
#masthead form.search-form {
  display: inline-block !important;
  float: right;
}
/* line 69, ../../sass/element/header/nav.scss */
#masthead form:hover .search-submit, #masthead form:focus .search-submit, #masthead form:active .search-submit {
  opacity: 1;
}
/* line 73, ../../sass/element/header/nav.scss */
#masthead form .search-submit {
  opacity: 0;
}
