/* account for "Menu" being removed from doc flow... */
/* line 2, ../../sass/state/content-body/sticky-hero.scss */
.dock #content, .stop #content {
  padding-top: 504px;
}

/* when "Head" is out of view... */
/* line 4, ../../sass/state/content-body/sticky-hero.scss */
.dock #slide-case {
  z-index: 0;
  position: fixed;
}

/* when "Main" is out of view... */
/* line 6, ../../sass/state/content-body/sticky-hero.scss */
.stop #slide-case {
  z-index: 0;
  position: fixed;
}
