

.woocommerce-breadcrumb{
  display: none;
  a.home{
    display: none;
  }
  padding-left: .9735em;
}

@media only screen and (min-width: 768px){
  .woocommerce-breadcrumb{
    display: inline-block;
  }
}