@media only screen and (min-width: 768px){
  #secondary{
    h1 {
      font-size: .8em;
    }
    li{
      text-transform: capitalize;
    }
  }
}
#secondary{

  select{
    border-radius: 0px !important;
    background: rgb(255, 255, 255) !important;
    box-shadow: none!important !important;
  }
  li{
    text-transform: capitalize;
  }
}