/* line 1, ../../sass/element/cloud-zoom/custom.scss */
body {
  /* This is the zoom window. */
  /* This is the moving lens square underneath the mouse pointer. */
  /* This is for the title text. */
  /* This is the zoom window. */
  /* This is the loading message. */
}
/* line 4, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-zoom-big {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid black;
}
/* line 17, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-center {
  text-align: center;
}
/* line 21, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-zoom-lens {
  border: 2px solid black;
  margin: -2px;
  /* Set this to minus the border thickness. */
  background-color: #fff;
  cursor: move;
}
/* line 31, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-zoom-title {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute !important;
  background-color: #000;
  color: #fff;
  padding: 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  top: 0px;
}
/* line 45, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-zoom-big {
  border: 4px solid black;
  overflow: hidden;
}
/* line 51, ../../sass/element/cloud-zoom/custom.scss */
body .cloud-zoom-loading {
  color: white;
  background: #222;
  padding: 3px;
  border: 1px solid #000;
}
/* line 58, ../../sass/element/cloud-zoom/custom.scss */
body a#cloud-link {
  position: relative;
  top: 10px;
  text-align: center;
  display: block;
}
