.woocommerce-result-count{
  display: none;
}
.home{

  #secondary{
    display: none;
  }
  #products{
    width: 100% !important
    left: 0px !important;
    background: white;
    border-top: 1px solid #333;
    padding-top: 24px;
  }
  .page-title{
    display: none;
  }
  .woocommerce-ordering{
    display: none;
  }
}