.widget{

  font-size:.88em;
  .widget-title{
    font-size: .95em !important;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
    
  }
  ul{
    font-size: .9em !important;
  }

  .count{
    display: none;
  }

}