/* line 2, ../../sass/element/sidebar/layered-nav.scss */
.widget_layered_nav li a:before {
  content: "  \2610  ";
}

/* line 5, ../../sass/element/sidebar/layered-nav.scss */
.widget_layered_nav li.chosen a:before {
  content: "  \2612  ";
}
