/* line 3, ../../sass/element/header/nav.scss */
#masthead {
  border-bottom: 1px solid #333333;
  margin: 0 auto;
  padding-bottom: 15px;
}
/* line 8, ../../sass/element/header/nav.scss */
#masthead #site-navigation {
  margin: 0 auto;
  float: none;
}
/* line 13, ../../sass/element/header/nav.scss */
#masthead #menu-main-header {
  display: block;
}
/* line 16, ../../sass/element/header/nav.scss */
#masthead #menu-main-header li {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: .2em;
}
/* line 23, ../../sass/element/header/nav.scss */
#masthead .site-branding {
  margin-bottom: 20px;
}
/* line 31, ../../sass/element/header/nav.scss */
#masthead form.search-form {
  display: inline-block !important;
  float: right;
}
/* line 35, ../../sass/element/header/nav.scss */
#masthead form .search-field {
  width: 150px !important;
  padding-right: 63px;
}
/* line 42, ../../sass/element/header/nav.scss */
#masthead form:hover .search-submit, #masthead form:focus .search-submit, #masthead form:active .search-submit {
  opacity: 1;
}
/* line 46, ../../sass/element/header/nav.scss */
#masthead form .search-submit {
  opacity: 0;
  margin-left: -68px;
}
