.woocommerce-ordering,
.woocommerce-result-count{
  position: absolute;
  opacity: .8;
}
.woocommerce-ordering{
  top: 0px;

}
.woocommerce-result-count{
  right:0;
}
.woocommerce-breadcrumb{
  opacity: .8;
}