.foot{
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 1em;
  .logo{
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzMyLjA0N3B4IiBoZWlnaHQ9Ijg3LjMwNXB4IiB2aWV3Qm94PSIwIDAgMzMyLjA0NyA4Ny4zMDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMzMi4wNDcgODcuMzA1Ig0KCSB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGQ9Ik0zMzIuMDQ3LDEyLjQzMVYwaC00MC44NTR2MTIuNDMxaDEzLjAyMVY4NC4xN2gxNC44MDlWMTIuNDMxSDMzMi4wNDdMMzMyLjA0NywxMi40MzF6IE0yNjkuNDM0LDEyLjQzMWgxMy4wMjJWMGgtNDAuODU0DQoJCXYxMi40MzFoMTMuMDIyVjg0LjE3aDE0LjgxVjEyLjQzMUwyNjkuNDM0LDEyLjQzMXogTTE5Ni42NDMsODQuMTdoMzUuOTQyVjcxLjczOUgyMTEuMzJWNDcuMDUxaDE2Ljc3MVYzNC43NDRIMjExLjMyVjEyLjQzMQ0KCQloMjEuMjY1VjBoLTM1Ljk0MlY4NC4xN0wxOTYuNjQzLDg0LjE3eiBNMTUzLjQ3OCw4NC4xN2gzMy4xMVY3MS43MzloLTE4LjQzVjBoLTE0LjY4MUwxNTMuNDc4LDg0LjE3TDE1My40NzgsODQuMTd6DQoJCSBNMTEwLjM0NCw4NC4xN2gzMy4xMVY3MS43MzloLTE4LjQzVjBoLTE0LjY4Vjg0LjE3TDExMC4zNDQsODQuMTd6IE05Ni41NzUsNjMuNjg3VjBoLTEzLjUydjY1LjA1Mg0KCQljMCw0Ljk2NS0yLjA2MSw4LjMxNy03LjIxMSw4LjMxN2MtNS4xNTEsMC03LjIxMS0zLjM1My03LjIxMS04LjMxN1YwaC0xNC42OHY2My42ODdjMCwxMy4wMzQsNi40MzgsMjEuNDc2LDIxLjg5MSwyMS40NzYNCgkJQzkwLjc4MSw4NS4xNjIsOTYuNTc1LDc2LjcyLDk2LjU3NSw2My42ODdMOTYuNTc1LDYzLjY4N3ogTTQzLjAwOCw2NS42NzFWNTQuNDk4YzAtNy42OTYtMy42MDUtMTIuNDE0LTEwLjk0NS0xNC4wMjgNCgkJYzYuMDUyLTEuODYxLDguNzU2LTYuMzMxLDguNzU2LTEzLjQwOHYtOC41NjZDNDAuODE5LDYuNTgsMzUuOTI2LDAsMjEuMjQ3LDBIMHY4NC4xN2gyMi43OTINCgkJQzM3LjQ3MSw4NC4xNyw0My4wMDgsNzcuNTksNDMuMDA4LDY1LjY3MUw0My4wMDgsNjUuNjcxeiBNMjYuNzg0LDI4LjY3N2MwLDQuNDctMi4xODksNi44MjktNi45NTQsNi44MjloLTUuMTVWMTEuNTQ1aDUuMDIxDQoJCWM0Ljg5NCwwLDcuMDgzLDIuMjM1LDcuMDgzLDYuODI5VjI4LjY3N0wyNi43ODQsMjguNjc3eiBNMjguMzI5LDY0LjkxYzAsNC40NzEtMi4zMTgsNi44MjgtNy4yMTEsNi44MjhIMTQuNjhWNDcuMTkyaDYuMzENCgkJYzUuMTUsMCw3LjM0LDIuMzU2LDcuMzQsNi44MjhMMjguMzI5LDY0LjkxTDI4LjMyOSw2NC45MXoiLz4NCjwvZz4NCjwvc3ZnPg0K') 0 0 no-repeat;
    height: 22px;
    width: 83px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
    background-size: contain;
    margin-top: .75em;
    margin-bottom: .75em;
  }

}

.privacy-links{
   opacity:.6; 
   display:inline-block; 
   width: auto;
}