@media only screen and (min-width: 58.75em) {
  /* line 3, ../../sass/element/woocommerce/product-case.scss */
  #content .page-title {
    margin-bottom: -1.1em;
  }
}
/* line 10, ../../sass/element/woocommerce/product-case.scss */
#content.site-content {
  background: #fff;
  z-index: 1;
  position: relative;
}
/* line 16, ../../sass/element/woocommerce/product-case.scss */
#content ul.products li.product {
  padding-bottom: 0em;
  margin-bottom: 0em;
}
