/* line 4, ../../sass/element/woocommerce/single-product.scss */
#content .page-title {
  text-align: center;
}
/* line 7, ../../sass/element/woocommerce/single-product.scss */
#content div.product {
  margin-top: 1.3em;
}
/* line 8, ../../sass/element/woocommerce/single-product.scss */
#content div.product h2.subheader {
  font-weight: 300;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1.4em;
  color: black;
}
/* line 15, ../../sass/element/woocommerce/single-product.scss */
#content div.product h1 {
  font-size: 1em;
}
/* line 18, ../../sass/element/woocommerce/single-product.scss */
#content div.product button.button {
  padding: 17px 10px;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 200;
}
/* line 23, ../../sass/element/woocommerce/single-product.scss */
#content div.product button.button:hover {
  background: rgba(5, 5, 5, 0.9);
  box-shadow: none;
  opacity: .9;
}
/* line 31, ../../sass/element/woocommerce/single-product.scss */
#content div.product .entry-summary {
  margin-top: 0em;
}
/* line 34, ../../sass/element/woocommerce/single-product.scss */
#content div.product div.thumbnails {
  padding-top: 0em !important;
}
/* line 36, ../../sass/element/woocommerce/single-product.scss */
#content div.product div.thumbnails a {
  width: 100% !important;
  float: right;
  margin-top: 0.9375em;
}
/* line 40, ../../sass/element/woocommerce/single-product.scss */
#content div.product div.thumbnails a:first-child {
  margin-top: 0em;
}

@media only screen and (min-width: 768px) {
  /* line 50, ../../sass/element/woocommerce/single-product.scss */
  ul.products li.first {
    clear: none !important;
  }
  /* line 53, ../../sass/element/woocommerce/single-product.scss */
  ul.products li.last {
    clear: none !important;
  }
}
@media only screen {
  /* line 61, ../../sass/element/woocommerce/single-product.scss */
  ul.products li.first {
    clear: left;
  }
  /* line 64, ../../sass/element/woocommerce/single-product.scss */
  ul.products li.last {
    clear: right;
  }
}
/* line 70, ../../sass/element/woocommerce/single-product.scss */
.woocommerce-main-image {
  float: left;
}
