/* line 1, ../../sass/state/home/product-loop.scss */
.woocommerce-result-count {
  display: none;
}

/* line 5, ../../sass/state/home/product-loop.scss */
.home #secondary {
  display: none;
}
/* line 8, ../../sass/state/home/product-loop.scss */
.home #products {
  background: white;
  border-top: 1px solid #333;
  padding-top: 24px;
}
/* line 13, ../../sass/state/home/product-loop.scss */
.home .page-title {
  display: none;
}
/* line 16, ../../sass/state/home/product-loop.scss */
.home .woocommerce-ordering {
  display: none;
}
