@media only screen and (min-width: 58.75em){
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    display: none;
  }
  /* line 416, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section li.has-dropdown > a {
    padding-right: 15px !important;
  }
}
.wpmenucart{
  li{
    list-style: none;
  }
}