.main-navigation{
  ul{
    > *{
    }
  }  
}

@media only screen and (min-width: 58.75em){
  #menu-item-43 ul #menu-item-256 ul a{
  }
  .top-bar-section ul li > a {
  }
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: none !important;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    border-left-style: solid;
    margin-right: 15px;
    margin-top: -4.5px;
    position: absolute;
    top: 50%;
    right: 0;
  }
  .top-bar-section .dropdown li .dropdown {
    left: 0%;
    top: auto;
  }
  .top-bar-section .has-dropdown{
    &:hover{
      visibility: visible !important;
      a{
        visibility: visible !important;
        li{
          visibility: visible !important;
          ul{
            visibility: visible !important;
            li{
              visibility: visible !important;
            }
          }
        }  
      }
    }
    .dropdown {
      min-width: 232px;
      li{
        width: 116px;
        ul{
          min-width: 100%;
          li{
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 58.75em) {
  /* line 362, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar {
    background: white;
    *zoom: 1;
    overflow: visible;
  }
  /* line 121, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }
  /* line 122, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
  .top-bar:after {
    clear: both;
  }
  /* line 367, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar .toggle-topbar {
    display: none;
  }
  /* line 369, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar .title-area {
    float: left;
  }
  /* line 370, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar .name h1 a {
    width: auto;
  }
  /* line 373, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar input,
  .top-bar .button {
    line-height: 2em;
    font-size: 0.875em;
    height: 2em;
    padding: 0 10px;
    position: relative;
    top: 8px;
  }
  /* line 382, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar.expanded {
    background: white;
  }

  /* line 385, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .contain-to-grid .top-bar {
    max-width: 59.375em;
    margin: 0 auto;
    margin-bottom: 0;
  }

  /* line 391, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important;
  }
  /* line 395, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
  /* line 400, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section ul li {
    float: left;
  }
  /* line 402, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section ul li .js-generated {
    display: none;
  }
  /* line 407, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section li a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: white;
  }
  /* line 411, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section li a:not(.button).hover {
    background: #b3b3b3 !important;
  }
  /* line 416, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown > a {
    padding-right: 35px !important;
  }
  /* line 419, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 22.5px;
  }
  /* line 426, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown.moved {
    position: relative;
  }
  /* line 427, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown.moved > .dropdown {
    visibility: hidden;
  }
  /* line 431, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    visibility: visible;
  }
  /* line 438, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    margin-top: -16px;
    right: 5px;
  }
  /* line 449, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }
  /* line 456, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .dropdown li a {
    color: white;
    line-height: 1;
    white-space: nowrap;
    padding: 7px 15px;
    background: white;
  }
  /* line 464, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: white;
  }
  /* line 470, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }
  /* line 478, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px white;
    border-left: solid 1px #e6e6e6;
    clear: none;
    height: 45px;
    width: 0px;
  }
  /* line 488, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section .has-form {
    background: white;
    padding: 0 15px;
    height: 45px;
  }
  /* line 496, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section ul.right li .dropdown {
    left: auto;
    right: 0;
  }
  /* line 500, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar-section ul.right li .dropdown li .dropdown {
    right: 100%;
  }

  /* line 510, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .no-js .top-bar-section ul li:hover > a {
    background: #f7f7f7 !important;
    color: #333;
  }
  /* line 516, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .no-js .top-bar-section ul li:active > a {
    background: #f7f7f7;
    color: white;
  }
  /* line 524, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    visibility: visible;
  }
}