#masthead{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: rgb(255, 255, 255);
}


@media only screen and (max-width: 768px){
  #masthead{
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  #content{
    margin-top: 0px;
  }
  .top-bar-menu.right{
    display: none;
  }
}