.top-bar-section{
  li:hover{
    a:not(.button){
    }
  }
  ul.dropdown{
    li:hover{
      a:not(.button){
      }
    }
  }
}


@media only screen and (max-width: 768px){
  .woocommerce-result-count,
  .woocommerce-ordering
  {
    display: none;
  }

  .top-bar-container{
    padding-bottom: 0.3em;
  }

  #masthead .site-branding {
    margin-bottom: -1.4em;
  }
  .site-branding {
    margin-top: 0px;
    padding-left: 0.9735em;
    padding-top:.5em;
    text-align: left;
    img{
      width: 200px;
    }
  }

}
.woocommerce-result-count{
    display: none;
    padding-right:.9375em;
  }
@media only screen and (min-width: 768px){
  #masthead .site-branding {
    margin-bottom: 0px;
  }
  .site-branding {
    padding-top:1.2em;
    text-align: center;
    margin-top: 0px;
    img{
      width: 380px;
    }
  }

  .woocommerce-result-count{
    display:block;
  }
}

@media only screen and (max-width: 58.75em){
  li.social-icon-wrap{
    height: 50px;
  }
}
@media only screen and (min-width: 58.75em){
  #masthead .site-branding {
    margin-bottom: 20px;
  }
  .site-branding {
    padding-top:0em;
    text-align: center;
    margin-top: 40px;
    img{
      width: 594px;
    }
  }
}


.cart-menu-holder{
  display: none;
  .sub-menu{
    display: none;
  }
}

@media only screen and (min-width: 58.75em){
  #site-navigation{
    clear: both;
  }
  .cart-menu-holder{
    display: block;
    i{
      font-size: 2.6em;
      color: rgb(229, 0, 230);
    }
    margin-bottom: 0em;
    padding-bottom: 0em;
    margin-top: -71px;
    float: right;
    .sub-menu{
      display: block !important;
      margin-left: -120px !important; 
      position: absolute;
      z-index: 200;
      background: rgb(255, 255, 255);
      visibility: hidden;
      border: 2px solid black;
      li{
        padding: 4px 10px !important;
        &:hover{
          background: darken(#fff, 5%) !important;
        }
      }
    }
    #wpmenucartli{
      line-height: 0em;
      &:hover{
        .sub-menu{
          visibility: visible !important;
        }
      }
    }
  }
}

#site-navigation,
.top-bar{
  background: transparent !important;
}

@media only screen{
  .title-area{
    margin-top: .5em !important;
    .social-icon{
      visibility: hidden;
    }
  }
  .top-bar-menu.right{
    display: none;
  }
}
@media only screen and (min-width: 58.75em){
  .title-area{
    .social-icon{
      visibility: visible;
    }
  }
  .top-bar-menu.right{
      display: inline;
  }
}

.top-bar .toggle-topbar.menu-icon {
}
$nav-padding: 2%;
nav.woocommerce-breadcrumb{
  font-family: RaisonneDemibold, "RaisonneDemibold", Helvetica, Arial, san-serif;
  line-height: 1.5em;
  color: black !important;
  a{
    color: black !important;
  }
}
#masthead{
  border-bottom: 1px solid rgb(0, 0, 0);
  #site-navigation{
    font-family: RaisonneDemibold, "RaisonneDemibold", Helvetica, Arial, san-serif;
    border-color: #333;
    a{
      color: black;
    }
  }
  .social-icon-case{

    float:left;
    .inline-list{
      display: inline-block; 

      li{
        margin-left: 0px;
      }
    }
  }

  .menu-main-header-container{
  }

  form{
    &.search-form{
      display: inline-block !important;
      float: right;
    }
    &:hover,
    &:focus,
    &:active{
      .search-submit{
        opacity: 1;
      }
    }
    .search-submit{
      opacity: 0;
    }

  }


}