/*.slide-case{
  img{
    margin: 0 auto;
  }
}

.orbit-container .orbit-prev, 
.orbit-container .orbit-next{
  background: none;
}

.orbit-container .orbit-prev{
  span{
    border-right-color: rgb(51, 51, 51);
  }
}
.orbit-container .orbit-next{  
  span{
    border-left-color: rgb(51, 51, 51);         
  }
}

.orbit-container{
  background: white;
}*/

/*.slide-case{
  max-width: 60em;
}

.orbit-container{
  background: none;
  img{
    margin-left: 2.5em;
  }
}


  top: 0%;
  margin-top: 0px;
  width: 180px;
  height: 478px;    
}

  top: 0%;
  margin-top: 0px;
  width: 180px;
  height: 478px;
}*/


.orbit-container .orbit-prev {
  left: 0;
  top: 0;
  background: none;
  height: 110%;
  padding-right: 15%;
}

.orbit-container .orbit-next {
  background: none;
  height: 110%;
  top: 0;
  padding-left: 15%;
}

.orbit-container .orbit-next > span {
right: 0px;
left: auto;
}