/* line 1, ../../sass/element/slider/navigation.scss */
.slide-case {
  max-width: 60em;
}

/* line 5, ../../sass/element/slider/navigation.scss */
.orbit-container {
  background: none;
}
/* line 7, ../../sass/element/slider/navigation.scss */
.orbit-container img {
  margin-left: 2.5em;
}

/* line 13, ../../sass/element/slider/navigation.scss */
.orbit-container .orbit-prev,
.orbit-container .orbit-next {
  background: none;
}

/* line 17, ../../sass/element/slider/navigation.scss */
.orbit-container .orbit-prev {
  top: 0%;
  margin-top: 0px;
  width: 180px;
  height: 478px;
}
/* line 18, ../../sass/element/slider/navigation.scss */
.orbit-container .orbit-prev span {
  border-right-color: #333333;
}

/* line 27, ../../sass/element/slider/navigation.scss */
.orbit-container .orbit-next {
  top: 0%;
  margin-top: 0px;
  width: 180px;
  height: 478px;
}
/* line 28, ../../sass/element/slider/navigation.scss */
.orbit-container .orbit-next span {
  border-left-color: #333333;
  left: 87%;
}
