/* line 1, ../../sass/element/sidebar/widget.scss */
#secondary {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 6, ../../sass/element/sidebar/widget.scss */
  #secondary {
    display: block !important;
  }
}
/* line 11, ../../sass/element/sidebar/widget.scss */
.widget {
  font-size: .88em;
}
/* line 14, ../../sass/element/sidebar/widget.scss */
.widget .widget-title {
  font-size: .95em !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
/* line 19, ../../sass/element/sidebar/widget.scss */
.widget ul {
  font-size: .9em !important;
}
/* line 23, ../../sass/element/sidebar/widget.scss */
.widget .count {
  display: none;
}
