/* line 1, ../../sass/element/sidebar/widget.scss */
#secondary {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 7, ../../sass/element/sidebar/widget.scss */
  .archive #secondary {
    display: block;
  }
}
/* line 13, ../../sass/element/sidebar/widget.scss */
.widget {
  font-size: .88em;
}
/* line 16, ../../sass/element/sidebar/widget.scss */
.widget .widget-title {
  font-size: .95em !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
/* line 21, ../../sass/element/sidebar/widget.scss */
.widget ul {
  font-size: .9em !important;
}
/* line 25, ../../sass/element/sidebar/widget.scss */
.widget .count {
  display: none;
}
/* line 30, ../../sass/element/sidebar/widget.scss */
.widget li:hover {
  background: #e6e6e6;
  color: #333;
}
/* line 34, ../../sass/element/sidebar/widget.scss */
.widget li.chosen {
  backgrond: none !important;
}

/* line 41, ../../sass/element/sidebar/widget.scss */
.error404 #secondary {
  display: none !important;
}
