/* line 1, ../../sass/element/sidebar/widget.scss */
.widget {
  font-size: .88em;
}
/* line 4, ../../sass/element/sidebar/widget.scss */
.widget .widget-title {
  font-size: .95em !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
/* line 9, ../../sass/element/sidebar/widget.scss */
.widget ul {
  font-size: .9em !important;
}
