$nav-padding: 2%;

#masthead{
  #site-navigation{
    border-bottom: 1px solid #333;
    margin-bottom: 26px;
    a{
      color: black;
    }
  }
  .social-icon-case{
    float:left;
    .inline-list{
      display: inline-block; 

      li{
        margin-left: 0px;
      }
    }
  }

  #menu-main-header{
    display: block;

    li{
      padding-left  : $nav-padding;
      padding-right : $nav-padding;
      margin-top: .1em;
    }
  }

  .site-branding{
    margin-bottom: 20px;
  }

  .menu-main-header-container{
  }

  form{
    &.search-form{
      display: inline-block !important;
      float: right;
    }
    &:hover,
    &:focus,
    &:active{
      .search-submit{
        opacity: 1;
      }
    }
    .search-submit{
      opacity: 0;
    }

  }


}