*{
  -moz-transition: opacity .2s linear, color .2s linear;
  -webkit-transition: opacity .2s linear, color .2s linear;
  -o-transition: opacity .2s linear, color .2s linear;
  transition: opacity .2s linear, color .2s linear;
}